.form {
    position: relative;
    padding: 2rem;
    width: 85vw;
    height: 77.5vh;
    max-width: 500px;
    margin-top: 4rem;
    color: black;

    .upper-form {
        width: 100%;
        height: 17.5%;

        h1 {
            font-size: 1.75rem;
            font-weight: 600;
            margin-bottom: 0.35rem;
        }

        .form-header-description {
            display: flex;
            gap: 0.25rem;

            p {
                font-size: 0.9rem;
            }

            a {
                text-decoration: none;
                color: black;
                font-weight: 700;
                font-size: 0.9rem;
            }
        }
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3rem;
        padding: 0 2.5rem;
        background-color: white;

        p {
            min-width: 300px;
            text-align: center;
            font-size: 12px;
            color: gray;
            letter-spacing: 0.1px;

            a {
                text-decoration: underline;
                font-weight: 600;
                color: black;
            }
        }
    }
}