/* You can add global styles to this file, and also import other style files */
html {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
myblack= #13111
myOren= #F7944A
grey1= #2d353c
*/